@import "tailwindcss";

@theme {
    /* Font */
    --font-default: "Roboto", sans-serif;

    /* Color */
    --color-main: #ffc300;

    --color-bg1: #0d0d12;
    --color-bg2: #15151e;
    --color-bg3: #1a1a23;
    --color-bg4: #21212c;

    --color-text1: #ffffff;
    --color-text2: #bfbfbf;
    --color-text3: #666666;

    --color-win: #26aae3;
    --color-lose: #e53e3e;

    --color-rate1: #ffc300;
    --color-rate2: #26aae3;
    --color-rate3: #00bd84;
    --color-rate4: #cccccc;
    --color-rate5: #b79f62;

    /* Custom */
    --breakpoint-xs: 450px;
    --match-card: 740px;
}

/* Hide scrollbar but keep scroll functionality */
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
}



/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track (background of scrollbar) */
::-webkit-scrollbar-track {
    background: #1e1e2f; /* dark gray */
    border-radius: 10px;
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #4d4d4d;
    border-radius: 10px;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}